.kamersprijzen {
  /* background-color: red; */
  background-color: black;
}

.hero {
  color: yellow;
  padding-top: 6rem;
  padding-left: 7rem;
}

.fiveDoorGrid {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.doorTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.25rem;
  width: 12.5rem;
}

.doorImg {
  width: 100%;
  height: 100%;
}

.appartmentImg {
  width: 30rem;
  height: 25rem;
  cursor: pointer;
}

.doorName {
  color: yellow;
  font-size: 16px;
  position: relative;
  width: 110%;
  text-align: center;
  cursor: pointer;
}

.appartmentGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.appTitle {
  top: 3rem;
  color: yellow;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .fiveDoorGrid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .appartmentImg {
    width: 25rem;
    height: 20rem;
  }
}

@media (max-width: 500px) {
  .hero {
    color: yellow;
    padding-top: 6rem;
    padding-left: 0rem;
    /* font-size: 24px; */
    text-align: center;
  }
}

@media (max-width: 430px) {
  .appartmentImg {
    width: 22rem;
    height: 17.5rem;
  }
}

.breakfastDiv {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0rem 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

@media only screen and (min-width: 1800px) {
  .breakfastDiv {
    max-width: 30rem;
  }
}

.breakfastSpan {
  background-color: rgb(216, 216, 16);
  width: 100%;
  height: 100%;
  font-weight: 800;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  max-width: 20rem;
}

.breakfastSpan:hover {
  background-color: yellow;
}

.breakfastOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 100;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem 1rem;
}

.breakfastImg {
  width: 100%;
  max-width: 30rem;

  border-radius: 2rem;
}

.priceCol {
  display: flex;
  flex-direction: column;
  color: yellow;
  padding-top: 1rem;
  gap: 1rem;
}
