.navbar {
  background-color: black;
  height: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000 !important;
  user-select: none;
}

.navlogo {
  height: 3rem;
  position: absolute;
  left: 0.5rem;
  cursor: pointer;
}

.navlist {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  will-change: left;
}

.links {
  text-decoration: none;
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: #ffd900;
  text-shadow: 0px 0px 70px black;
  position: relative;
  padding: 0.25rem;
  font-family: luxuryFont;
  border-bottom: 1px solid transparent;
}

.link:hover {
  border-bottom: 1px solid yellow;
}

.active {
  color: black;
}

.reserveren {
  border-bottom: 1px solid yellow;
}

.hamburger {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  display: none;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  top: 6px;
  position: absolute;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  bottom: 6px;
  position: absolute;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  will-change: position;
}

.mobileNavOpen {
  left: 0% !important;
}

@media (max-width: 1200px) {
  .navlist {
    gap: 1rem;
  }
}

@media (max-width: 1100px) {
  .link {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .navlist {
    gap: 0.5rem;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    top: 0;
    left: -100%;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }

  .link {
    font-size: 20px !important;
  }
  .hamburger {
    display: flex;
  }

  .navbar {
    justify-content: flex-end;
    padding-right: 2rem;
  }
}

.languageDropdown {
  width: 3rem;
  right: 1.5rem;
  top: 0.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(42, 42, 42); */
  gap: 3px;
}

.flagIcon {
  width: 100%;
  height: 100%;

  max-height: 2rem;
  width: 2rem;
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 2rem;
}

.languageTitle {
  color: rgb(193, 193, 193);
  font-size: 14px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
