@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.portfolio {
  position: relative;
  text-align: start;
  display: flex;

  flex-direction: column;
  background-color: black;
  background: linear-gradient(
    180deg,
    rgb(2, 32, 2),
    rgb(2, 32, 2),
    rgb(2, 32, 2),
    rgb(2, 32, 2),
    rgb(2, 32, 2),
    rgb(2, 32, 2),
    black
  );
}

.activityHeader {
  padding-top: 6rem;
  background-image: url("../../assets/omgeving/Steenwijkhaven.webp");
  height: 40rem;
  /* background-size: 10%; */
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio h1 {
  color: yellow;
  margin-left: 6rem;
}

.contentWrap {
  position: relative;
  height: 40rem;
  padding-top: 5rem;
}

.ontDekDiv {
  position: relative;
  width: 100%;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.197);
  top: 25.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTxt {
  color: yellow;
  background-color: rgb(2, 32, 2);
  padding: 4rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.chopperModal {
  background-image: url("../../assets//omgeving/Echopper.webp");
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 30%;
  border-radius: 0.8rem;
  opacity: 0.8;
  overflow: hidden;
  cursor: pointer;
}

.innerChopperModal {
  width: 100%;
  height: 100%;
  transform: translateY(85%);
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.innerChopperModal h2 {
  text-align: center;
  width: 100%;
  color: white;
  text-shadow: 0px 0px 3px black;
  cursor: pointer;
  padding-top: 1rem;
}

.chopperModal:hover .innerChopperModal {
  transform: translateY(0%);
  background-color: rgba(0, 0, 0, 0.788);
}

.conditionsList {
  position: relative;
  width: 100%;
  height: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 0.5rem;
}

.conditionSpan {
  color: white;
  font-family: "Open Sans";
  font-size: 18px;
}

.bookCta {
  font-family: "Open Sans";
  font-size: 1.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-top: 2.5rem;
  transition: all 0.2s ease-in-out;
}

.bookCta:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 3px black;
}

.contentTopBlock {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.activiteitenModal {
  height: 25rem;
  width: 60%;
  border-radius: 0.8rem;
  opacity: 0.8;
  overflow: hidden;
  cursor: pointer;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.activLeft {
  position: relative;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

.acthero {
  color: white;
  position: relative;
  left: -2rem;
}

.itemList {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
  list-style-type: none;
}

.itemList a {
  color: white;
  text-decoration: none;
}

.listItem {
  color: rgb(222, 222, 222);
  font-family: "Open Sans";
  transition: all 0.2s ease-in-out;
}

.listItem:hover {
  color: white;
}
.listItem:hover .arrow {
  opacity: 1;
}

.activRight {
  position: relative;
  width: 65%;
  background-color: red;
  height: 100%;
}

.arrow {
  position: absolute;
  left: 25px;
  margin-top: 3px;
  opacity: 0;
}

.cycleImg {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
